<div class="row">
  <div class="col s12">
    <h3>My Bookmarks:</h3>
      <% @user_bookmarks.each do |bookmark| %>
        <h5><%= bookmark.url %></h5>
      <% end %>
    <h3>Liked Bookmarks:</h3>
      <% @liked_bookmarks.each do |liked| %>
        <h5><%= liked.bookmark.url %></h5>
        <h6><%= liked.user.name %></h6>
      <% end %>
  </div>
</div>